@use '../../../SCSS/mixins' as mixin;

.chains {
    display: flex;
    justify-content: space-evenly;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px 20px;
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
        padding: 10px 40px;
    }

    @include mixin.no-selectable;
    @include mixin.img-cover-background('/assets/components/buttons/cell.png');
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    @include mixin.img-cover-background('/assets/components/buttons/cell_hover.png');
}

// Activar la transición en desktop
button:hover::after {
    opacity: 1;
}

// Activar la transición en mobile
button:active::after {
    opacity: 1;
}