// Background con imagen que cubre todo su contenedor.
@mixin img-cover-background($url) {
    background-image: url($url);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// Posicionamiento para pseudo elementos ::before y ::after
@mixin absolute-pseudo-element() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

// Elemento no seleccionable
@mixin no-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin padding-x {
    padding: 0% 10%;

    @media (min-width: 768) {
        padding: 0% 20%;
    }
}