@use '../app/Shared/SCSS/mixins' as mixin;
@use 'sass:math';

.dungeon-container-no-light,
.dungeon-container-light {
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/background/bg1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

// Lighting mask for cursor
.dungeon-container-no-light::before {
    @include mixin.absolute-pseudo-element;
    background-color: rgba(0, 0, 0, var(--opacity));
    mask-image: radial-gradient(circle var(--light-size) at var(--x) var(--y),
            transparent 0%,
            black);
    z-index: 1;
    animation: torch-flicker 2s infinite alternate;
}

.dungeon-container-no-light::after {
    @include mixin.absolute-pseudo-element;
    height: 100%;
    background: radial-gradient(circle var(--light-size) at var(--x) var(--y),
            rgba(255, 165, 0, 0.25) 0%,
            rgba(255, 140, 0, 0.15) 40%,
            rgba(255, 69, 0, 0.05) 60%,
            transparent 80%);
    z-index: 2;
    animation: torch-flicker 2s infinite alternate;
}

@keyframes torch-flicker {
    0% {
        --light-size: 190px;
    }

    25% {
        --light-size: 200px;
    }

    50% {
        --light-size: 210px;
    }

    100% {
        --light-size: 220px;
    }
}

// Lighting mask for torch and brazier
.dungeon-container-light::before {
    @include mixin.absolute-pseudo-element;
    background-color: rgba(0, 0, 0, var(--opacity));
    mask-image: radial-gradient(circle 150dvh at var(--moveX) var(--moveY),
            transparent 0%,
            black);
    z-index: 1;
    animation: torch-flicker-smooth 8s infinite alternate;
}

.dungeon-container-light::after {
    @include mixin.absolute-pseudo-element;
    height: 100%;
    background: radial-gradient(circle 150dvh at var(--moveX) var(--moveY),
            rgba(255, 165, 0, 0.25) 0%,
            rgba(255, 140, 0, 0.15) 40%,
            rgba(255, 69, 0, 0.05) 60%,
            transparent 80%);
    z-index: 2;
    animation: torch-flicker-smooth 8s infinite alternate;
}

@keyframes torch-flicker-smooth {
    @for $i from 0 through 72 {
        #{math.percentage(math.div($i, 72))} {
            --moveX: calc(var(--positionX) + 10% * cos(#{$i * 10deg}));
            --moveY: calc(var(--positionY) + 10% * sin(#{$i * 10deg}));
        }
    }
}

.cursor {
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: fit-content;
    height: fit-content;
    z-index: 100;
    transform: translate(-50% -50%);
    pointer-events: none;

    img {
        transform: rotate(var(--deg));
    }
}