.container {
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 40px;

    @media (min-width: 768px) {
        font-size: 55px;
    }
}

.text-degraded {
    color: transparent;
    background: linear-gradient(45deg, #FCBA53 7%, #905A4C 100%);
    z-index: 2;
    -webkit-background-clip: text;
    background-clip: text;
}

.text-border {
    position: absolute;
    text-shadow:
        -1.5px -1.5px 0 black,
        1.5px 1.5px 0 black,
        -1.5px 1.5px 0 black,
        1.5px -1.5px 0 black;
    z-index: 1;
}