@use './app/Shared/SCSS/reset';

// Fuente Global
@font-face {
    font-family: 'Jersey10';
    src: url(/Assets/Font/Jersey10.woff2);
    src: url(/Assets/Font/Jersey10.woff);
    font-weight: 100;
    font-style: normal;
}